<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link href="{{asset "img/favicon.ico"}}" rel="shortcut icon" type="image/x-icon">
    <link href="{{asset "img/apple-touch-icon-precomposed.png"}}" rel="apple-touch-icon">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if post}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="{{post.title}}">
    <meta name="twitter:description" content="{{post.excerpt}}">
    <meta name="twitter:creator" content="{{post.author.name}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{post.title}}">
    <meta property="og:description" content="{{post.excerpt}}">
    <meta property="og:site_name" content="{{@blog.title}}">
    {{else}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="{{@blog.title}}">
    <meta name="twitter:description" content="{{@blog.description}}">
    <meta name="twitter:creator" content="{{@blog.title}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{@blog.title}}">
    <meta property="og:description" content="{{@blog.description}}">
    <meta property="og:site_name" content="{{@blog.title}}">
    <meta property="fb:admins" content="">
    {{/if}}
    {{>dependencies/header-dependencies}}
    {{ghost_head}}
    <script type="text/javascript"> var SF_THEME_OPTIONS = { global : {   rootUrl : '{{@blog.url}}' } }</script>
</head>
<body class="{{body_class}} {{block "customBodyClass"}}"
    data-site-layout="wide" {{!Site Layout Options: change it to 'boxed' or 'wide'  }}
    data-post-mode="multimedia" {{!Post Mode Options: change it to 'multimedia' or 'plain'  }}
    data-post-align="left" {{!Post Align Options: change it to 'left' or 'center'  }}
	data-uppercase="true" {{!Uppercase style: change it to 'true' or 'false'  }}
    >
    <div id="fb-root"></div>
    <!--[if lt IE 9]>
    <div class="outdated-frame">
        You are using an <strong>outdated</strong> browser. Please <a href="http://www.google.com/chrome/intl/en/landing_chrome.html">upgrade your browser</a>.
    </div>
    <![endif]-->
    <div class="body-wrap">
        {{>header/standard}}
        <div class="main-wrap">
            {{{body}}}
        </div>
    </div>
    {{ghost_foot}}
    {{>dependencies/footer-dependencies}}
    {{{block "customScript"}}}
</body>
</html>
