{{!< default}}
{{#contentFor "customBodyClass"}}page-contact{{/contentFor}}
{{#contentFor "customScript"}}<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>{{/contentFor}}
{{#post}}
    <main class="body-content" role="main">
        <section class="{{post_class}} has-sub-meta">
            <div class="post-header has-background"
                {{#if image}}
                 style="background-image: url({{image}})"
                {{else}}
                    {{#if author.cover}}
                 style="background-image: url({{author.cover}})"
                    {{else}}
                        {{#if @blog.cover}}
                 style="background-image: url({{@blog.cover}})"
                        {{/if}}
                    {{/if}}
                {{/if}}>
                <div class="header-wrap">
                    <h2 class="post-title">{{{title}}}</h2>
                    <div class="line"></div>
                    <div class="post-meta">Just send me direct message or contact me through social sites listed below.</div>
                </div>
            </div>
            {{>content/main}}
        </section>
    </main>
{{/post}}