{{!< default}}
{{#post}}
<main class="body-content" role="main">
	<section class="{{post_class}} {{#if tags}}has-sub-meta{{else}}{{#if featured}}has-sub-meta{{/if}}{{/if}}">
		<div class="post-header {{#if image}}has-background{{/if}}" {{#if image}}style="background-image: url({{image}})"{{/if}}>
			<div class="header-wrap">
				<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
				<div class="post-meta">{{author.name}} / {{date published_at timeago="true"}}</div>
            	<div class="line"></div>
            	{{#if tags}}
                <div class="post-meta">
                    <i class="fa fa-tags"></i>{{#if featured}} Featured{{/if}} on {{tags separator=", "}}
                </div>
                {{else}}
                    {{#if featured}}
                        <div class="post-meta">
                            <i class="fa fa-star"></i> Featured
                        </div>
                    {{/if}}
                {{/if}}
			</div>
		</div>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Title</span>
                <nav class="mdl-navigation">
                </nav>
            </div>
            <div class="mdl-layout__content">
                <div class="page-content">
                    <div class="post-content">
                        <div class="center-unknown">
                            <div class="el">
                                <!-- BlopTop -->
                                <ins class="adsbygoogle adslot_1"
                                     style="display:inline-block;margin: 0 auto 0 auto; width: 100%;"
                                     data-ad-client="ca-pub-1525337072631150"
                                     data-ad-slot="3858661425"
                                     data-ad-format="auto"></ins>
                            </div>
                        </div>
                        {{content}}
                        <br/>
                        <div class="center-unknown">
                            <div class="el">
                                <div id="zergnet-widget-32930"></div>
                                <script language="javascript" type="text/javascript">
                                    (function() {
                                        var zergnet = document.createElement('script');
                                        zergnet.type = 'text/javascript'; zergnet.async = true;
                                        zergnet.src = 'http://www.zergnet.com/zerg.js?id=32930';
                                        var znscr = document.getElementsByTagName('script')[0];
                                        znscr.parentNode.insertBefore(zergnet, znscr);
                                    })();
                                </script>
                                <div id="zergnet-widget-32875"></div>
                                <script language="javascript" type="text/javascript">
                                    (function() {
                                        var zergnet = document.createElement('script');
                                        zergnet.type = 'text/javascript'; zergnet.async = true;
                                        zergnet.src = 'http://www.zergnet.com/zerg.js?id=32875';
                                        var znscr = document.getElementsByTagName('script')[0];
                                        znscr.parentNode.insertBefore(zergnet, znscr);
                                    })();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
</main>
{{/post}}