{{!< default}}
{{#contentFor "customBodyClass"}}page-about{{/contentFor}}
{{#post}}
<main class="body-content" role="main">
	<section class="{{post_class}} has-sub-meta">
		<div class="post-header has-background"
			{{#if image}}
				style="background-image: url({{image}})"
			{{else}}
				{{#if author.cover}}
					style="background-image: url({{author.cover}})"
				{{else}}
					{{#if @blog.cover}}
					style="background-image: url({{@blog.cover}})"
					{{/if}}
				{{/if}}
			{{/if}}>
			<div class="header-wrap">
				<h2 class="post-title">Hello, I am {{author.name}}</h2>
				<div class="post-meta"><i class="fa fa-home"></i> <span>{{author.location}}</span> <i class="fa fa-globe"></i> <a href="{{author.website}}">{{author.website}}</a></div>
            	<div class="line"></div>
            	<div class="post-meta">{{author.bio}}</div>
			</div>
		</div>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Title</span>
                <nav class="mdl-navigation">
                </nav>
            </div>
            <div class="mdl-layout__content">
                <div class="page-content">
                    <div class="post-content">
                        <div class="center-unknown">
                            <div class="el">
                                <!-- BlopTop -->
                                <ins class="adsbygoogle adslot_1"
                                     style="display:inline-block;margin: 0 auto 0 auto; width: 100%;"
                                     data-ad-client="ca-pub-1525337072631150"
                                     data-ad-slot="3858661425"
                                     data-ad-format="auto"></ins>
                            </div>
                        </div>
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
	</section>
</main>
{{/post}}